.editors
{
    position: absolute;
    top:30px;
    bottom: 0;

}
.editor
{
    border-left:1px solid #aaa;
    height: 100%;
}

#result
{
    display: none;
}
#resultframe
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.CodeMirror
{
    height: 100%;
    font-family: Microsoft YaHei, "Î¢ÈíÑÅºÚ";
}


