.editors
{
    position: absolute;
    top:30px;
    bottom: 0;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-end;
}
.editor
{
    position: relative;
    border-left:1px solid #eee;
    height: 100%;
    min-width: 300px;
    max-width: 1100px;
    flex-shrink:1;
    flex-grow:1;
    box-sizing: content-box;
}


#result
{
    display: none;
}
#resultframe,#javascript,#css,#html
{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Microsoft YaHei,"微软雅黑";
}
.CodeMirror
{
    height: 100%;
    font-family: Microsoft YaHei,"微软雅黑";

}

.code-tag
{
    position: absolute;
    top:1px;
    right: 25px;
    color: #ddd;
    z-index: 1001;
    font-family: Microsoft YaHei,"微软雅黑";
}


