@charset "UTF-8";
.editors
{
    position: absolute;
    top: 30px;
    bottom: 0;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-end;
    background: #2c2827;/*TODO:theme*/
}
.editor
{
    position: relative;
    border-left: 1px solid #423838;/*TODO:theme #eee*/
    background: #2c2827;/*TODO:theme*/
    height: 100%;
    min-width: 300px;
    max-width: 1100px;
    /*flex-shrink:1;*/
    flex-grow:1;
}
.editor>textarea
{
    border: none;
    margin: 0;
    padding: 0;
    background: #2c2827;/*TODO:theme*/
}

#result
{
    display: none;
}
#resultframe,#javascript,#css,#html
{
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: Microsoft YaHei,"微软雅黑";
}
#resultframe
{
    border:0px;
}
.CodeMirror
{
    height: 100%;
    font-family: Microsoft YaHei,"微软雅黑";

}

.code-tag
{
    position: absolute;
    top:-3px;
    right: 25px;
    color: #806060;/*TODO:theme #ddd*/
    z-index: 98;
    font-size: 0.8em;
    font-family: Microsoft YaHei,"微软雅黑";
    cursor: pointer;
}

iframe
{
    background-color:#fff;
}


