@font-face {
    font-family: 'icons';
    src: url('icons.woff') format('woff');
}

[class^="icon-"], [class*=" icon-"]{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-save:before {
    content: "\e172";
}

.icon-down:before {
    content: "\e166";
}

.icon-play:before {
    content: "\e029";
}

.icon-del:before {
    content: "\e020";
}

.icon-new:before {
    content: "\2b";
}

.icon-list:before {
    content: "\e012";
}

.icon-config:before
{
    content: "\e019";
}