.wrap {
    position: absolute;
    width: 100%;
    height: 100%;

}

.nav {
    position: absolute;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background: #2c2827;/*TODO:theme*/
    font-family: Microsoft YaHei, "ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â½Ã‚Â¯ÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ©Ã‚Â»Ã¢â‚¬Ëœ";


}

.container {
    position: relative;
    width: 100%;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    box-sizing: content-box;
}


#listPanel
{

    position: relative;
    height: 100%;
    width: 230px;
    display: none;
    background-color:#71C6F3;
    color: #fff;
    z-index: 99;
    overflow: auto;
    font-family: Microsoft YaHei,"ÃƒÂ¥Ã‚Â¾Ã‚Â®ÃƒÂ¨Ã‚Â½Ã‚Â¯ÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ©Ã‚Â»Ã¢â‚¬Ëœ";

}

.code-list
{
    padding-top: 20px;
    list-style: none;

}

.code-list>li
{
    cursor: pointer;
    line-height: 1.5em;
    overflow: hidden;
    opacity:1;
}

.list-active
{
    font-weight: bold;
    color: #008855;
}

#listGrip
{
    display: block;
    position: fixed;
    padding: 3px 8px 2px 0;
    border-radius: 0 6px 6px 0;
    top: 4px;
    z-index: 100;
    cursor: pointer;
    background-color: rgba(113, 198, 243, 0.18);
    color: #fff;

    font-size: 20px;
}


#notice
{
    height: 2em;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1001;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    font:normal normal  bolder 1em/2em Microsoft YaHei,"Ã¥Â¾Â®Ã¨Â½Â¯Ã©â€ºâ€¦Ã©Â»â€˜";
    text-align: center;
    opacity:0;
}

.notice-show
{
    -webkit-animation:show-notice 2s linear;
    -o-animation:show-notice 2s linear;
    animation:show-notice 2s linear;
}
.notice-show-3s
{
    -webkit-animation:show-notice 3s linear;
    -o-animation:show-notice 3s linear;
    animation:show-notice 3s linear;
}

@keyframes show-notice {
    0%
    {
        opacity:1;
    }
    75% {

        opacity:1;
    }
    100% {
        
        opacity:0;
    }
}
.confirm {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
.warning
{
    color: #c09853;
    background-color: #fcf8e3;
    border-color:#fbeed5;
}

.notice-cancel
{
    border:1px solid #aaa;
    border-radius: 3px;
    padding: 0 5px;
    cursor: pointer;
    margin-left: 10px;

}

.left
{
    float: left;
}
.right
{
    float: right;
}