
.nav-action
{
    height: 30px;
    margin: 0;
    padding-top: 4px;
}
.nav-action>li
{
    display: inline;
    color: #E7E5E4;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    padding:0 5px;
}


