
.nav-action
{
    height: 30px;
    margin: 0;
    padding-top: 4px;
}
.nav-action>li
{
    display: inline;
    color: #7B7A7A;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    padding:0 5px;
}
.nav-action>li:hover
{
    color: #fff;
    font-size: 22px;

}


